.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-transform: uppercase;
}

.modal-container {
  background: var(--background);
  min-width: 250px;
  max-width: 80vw;
  border-radius: 40px;
  position: relative;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
}

.modal-container--large {
  width: 85vw;
  height: 75vw;
}

.close-button {
  position: absolute;
  font-size: 2em;
  color: var(--text-color);
  cursor: pointer;
  z-index: 3;
  right: 20px;
  top: 15px;
}

.close-button:after {
  content: "\00d7";
}

.modal-title {
  margin-top: 0;
  font-size: 1.25em;
  font-weight: 300;
  padding: 1em 0 0;
}

.modal p {
  font-size: 1em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 1.5em 1.5em;
}
