:root {
  --background: #dad6cd;
  --player: #ab958a;
  --text-color: #000000;
  --text-color-secondary: #717171;
}
[data-theme="dark"] {
  --background: #666d6d;
  --player: #98847b;
  --text-color: #ffffff;
  --text-color-secondary: #bababa;
}

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
}

.App {
  text-align: center;
  background: var(--background);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

